<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drinkinggame">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_beer_transparent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_beer_transparent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.NewCardActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activitys.PackageEditorActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activitys.PackageManagerActivity"
            android:label="@string/title_activity_package_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activitys.GameActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activitys.PlayerSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activitys.GameSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activitys.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>